/* Reset tampilan dasar */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #1F232F;
    text-align: center;
}

/* Navbar */
nav {
    background: #564A94;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Logo */
.logo img {
    max-height: 50px;
}

/* Navigasi */
.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    display: inline-block;
    min-width: 120px;
    text-align: center;
    white-space: nowrap;
}

.nav-links li a:hover {
    background: #f4a261;
}

/* Container Utama */
.container {
    width: 80%;
    margin: auto;
    background: #F2ECF8;
    padding: 80px 20px 20px;
}

/* Header */
header {
    background: #45B0D2;
    color: white;
    padding: 15px 20;
    border-radius: 10px;
}

header h1 {
    font-size: 35px;
}

/* Font Judul */
.rock-salt-regular {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    color: #27254C;
}

/* Profil */
.profile img {
    width: 300px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.profile img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.8);
}

/* Sosial Media */
.sosmed a {
    margin: 0 8px;
    display: inline-block;
}

.sosmed img {
    width: 30px;
    transition: transform 0.2s;
}

.sosmed img:hover {
    transform: scale(1.2);
}

.data table .profile-table {
    background-color: #45B0D2;
    color: #ddd;
    text-align: center;
}

/* Tabel Data */
.data table {
    width: 50%;
    margin: auto;
    border-collapse: collapse;
}

.data th,
.data td {
    padding: 8px;
    border: 3px solid #ddd;
    text-align: left;
}



/* Galeri */
.gallery {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.gallery img {
    width: 250px;
    height: 180px;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.2s;
}

.gallery img:hover {
    transform: scale(1.1);
}

/* Footer */
footer {
    margin-top: 20px;
    background: #27254C;
    color: white;
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
}